<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<ul>
<% @all_users.each do | user | %>
	<li><%= user.first_name %>  <%= user.last_name %> <%= user.email %></li>
	<%= link_to user.email, user%>
<% end %>
</ul>
